<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo.weather">

    <application
        android:name=".DebugApplication"
        tools:replace="android:name">

        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>